@charset "UTF-8";
:root {
  --background-color: #17181c;
  --background-gradient: linear-gradient(135deg, transparent, transparent 21%, #151618 0, #151618 48%, transparent 0, transparent 95%, #111114 0, #111114), linear-gradient(45deg, transparent, transparent 6%, #101114 0, #101114 13%, #26272d 0, #26272d 32%, transparent 0, transparent), linear-gradient(90deg, #17181c, #17181c);
  --white-color: #ffffff;
  --black-color: #000000;
  --rose-color: #D0368A;
  --blue-color: #708AD4;
  --grey-color: #616161;
  --rose-gradient: linear-gradient(160deg, var(--rose-color) 0%, var(--blue-color) 99%);
  --facebook-color: #273c75;
  --twitter-color: #1da1f2;
  --instagram-color: #ff0076;
  --discord-color: #5865F2;
}

/* ==========================================================================
   Styles:
   ========================================================================== */
/* ==========================================================================
    Créer une icon x2 à x4:
========================================================================== */
.bi-2X {
  font-size: 2rem;
}

.bi-3X {
  font-size: 3rem;
}

.bi-4X {
  font-size: 4rem;
}

/* ==========================================================================
    HTML:
========================================================================== */
html {
  max-width: 100%;
  /* ==========================================================================
  Scrollbar:
  ========================================================================== */
  /* ==========================================================================
      Liens:
  ========================================================================== */
  /* ==========================================================================
      Responsive:
  ========================================================================== */
}
html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
html ::-webkit-scrollbar {
  width: 12px;
}
html ::-webkit-scrollbar-track {
  background: #181a1e;
}
html ::-webkit-scrollbar-thumb {
  background-image: var(--rose-gradient);
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.9);
  border-radius: 100px;
}
html body {
  /* ==========================================================================
  Cursor:
  ========================================================================== */
  cursor: default;
  /* ==========================================================================
  Button to TOP:
  ========================================================================== */
}
html body #button {
  opacity: 0;
  color: var(--white-color);
  font-weight: 600;
  right: -2rem;
  bottom: 20rem;
  z-index: 1000;
  position: fixed;
  text-align: center;
  visibility: hidden;
  line-height: 1.4rem;
  display: inline-block;
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s, visibility 0.5s;
  transform: rotate(-90deg) translate(-50%, 0);
}
html body #button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 20px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: var(--rose-gradient);
}
html body #button:hover {
  cursor: pointer;
}
html body #button:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
html body #button.show {
  opacity: 1;
  visibility: visible;
}
html a,
html i {
  text-decoration: none;
  color: var(--rose-color);
  transition: ease-in-out 0.2s;
}
html a:hover,
html i:hover {
  color: var(--blue-color);
}
html p {
  font-family: Noto Sans JP, sans-serif;
  color: var(--white-color);
}
html .wrapper {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-gap: 10px;
}
html .content {
  /* ==========================================================================
      Sections:
  ========================================================================== */
  /* ==========================================================================
      Titres:
  ========================================================================== */
  /* ==========================================================================
      Boutons:
  ========================================================================== */
  /* ==========================================================================
      Icons:
  ========================================================================== */
}
html .content section {
  padding: 2rem 0 2rem 0;
}
html .content h1,
html .content h1 a,
html .content h2,
html .content h2 a,
html .content h3,
html .content h3 a,
html .content h4,
html .content h4 a,
html .content h5,
html .content h5 a,
html .content h6,
html .content h6 a {
  font-family: Carter One, cursive;
}
html .content .btn {
  padding: 1rem;
  background: transparent;
  width: fit-content;
  border: 1px solid #0a0a0a;
  border-radius: 20px;
  box-shadow: inset 0 1px 8px var(--black-color), 1px 4px 0 var(--black-color);
  transition: box-shadow 0.4s ease-in-out;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  line-height: 0;
}
html .content .btn:hover {
  box-shadow: none;
}
html .content .btn.btn-principal {
  background: var(--rose-gradient);
}
html .content .btn.btn-principal:hover {
  color: var(--white-color);
}
html .content i + i {
  margin-top: 1rem;
}
/* ==========================================================================
   Navbar:
   ========================================================================== */
.header {
  height: 100%;
  width: 100%;
}
.header nav .navbar-brand img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 6px var(--black-color);
  animation: logoFadeIn 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@keyframes logoFadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header nav .navbar-brand img:hover {
  transform: rotate(360deg);
  box-shadow: none;
}
.header nav .navbar-nav {
  animation: navFadeIn 1s ease-in-out;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header nav .navbar-nav .nav-item .nav-link {
  font-family: Merienda, cursive;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
.header nav .navbar-nav .nav-item .nav-link .bi {
  animation: iconFadeIn 0.4s ease-in-out;
  animation-delay: 2s;
}
@keyframes iconFadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header nav .navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
  font-size: 20px;
}
.header nav .navbar-nav .nav-item.active .nav-link:after {
  transform: scaleX(0);
  transform-origin: left;
}
.header .navbar-toggler {
  margin-right: 3rem;
}
.header .navbar-toggler .navbar-toggler-icon {
  color: var(--color-contrast-high);
}
.header .navbar {
  height: 100px;
  padding: 0;
}
.header .navbar-collapse {
  background-color: var(--color-contrast-lower);
}
.header .navbar-brand {
  padding: 0 0 0 3rem;
  margin: 0;
}
.header .navbar-brand img {
  max-width: 60px;
}
.header .dropdown-toggle:after {
  border-top: 0;
}
.header .nav-link {
  position: relative;
  min-height: 50px;
}
.header .nav-link:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: var(--rose-gradient);
}
.header .nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(1);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: var(--rose-gradient);
}
.header .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 992px) {
  .header .navbar {
    height: 100px;
  }
  .header .navbar-brand {
    padding: 0;
  }
  .header .navbar-brand,
  .header .navbar-brand img {
    max-width: 80px;
  }
  .header .navbar-collapse {
    background-color: transparent;
  }
}
/* ==========================================================================
   Banner
   ========================================================================== */
.box {
  display: flex;
}

.home-background {
  background: url("../img//home/banniere.webp") no-repeat center/cover;
  position: relative;
  min-height: 100vh;
  box-shadow: inset 0 0 20px hsla(225deg, 33%, 7%, 0.5);
}

.box_KelenS {
  top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box_KelenS .title_KelenS {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.box_KelenS .title_KelenS .block_KelenS {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.box_KelenS .title_KelenS .h1_KelenS {
  font-family: "Poppins";
  color: var(--white-color);
  font-size: 64px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.box_KelenS .title_KelenS .h1_KelenS span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.box_KelenS .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.box_KelenS .role .block_KelenS {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.box_KelenS .role .p_KelenS {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media screen and (max-width: 460px) {
  .box_KelenS {
    width: 100%;
  }
  .box_KelenS .title_KelenS {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  .box_KelenS .title_KelenS .block_KelenS {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
  }
  .box_KelenS .title_KelenS .h1_KelenS {
    font-family: "Poppins";
    color: #ffffff;
    font-size: 64px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }
  .box_KelenS .title_KelenS .h1_KelenS span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffb510;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
  }
  .box_KelenS .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
  .box_KelenS .role .block_KelenS {
    width: 0%;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
  }
  .box_KelenS .role .p_KelenS {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato";
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/* ==========================================================================
   Scroll down
   ========================================================================== */
.down a {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #ffffff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s;
}
.down a:hover {
  opacity: 0.5;
}

#scroll-down a {
  padding-top: 60px;
}
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--white-color);
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll-down a span:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--white-color);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* ==========================================================================
   Accueil:
   ========================================================================== */
/* ==========================================================================
   Section à propos:
   ========================================================================== */
#a-propos h2 {
  font-size: 4rem;
  width: fit-content;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 1px 4px 0 var(--black-color);
  transition: text-shadow 0.4s ease-in-out;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
#a-propos h2:hover {
  text-shadow: none;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#a-propos .citation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 1rem 0 1rem;
  grid-row: 1;
}
#a-propos .citation h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#a-propos .citation h3:hover {
  cursor: default;
}
#a-propos .citation h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#a-propos .citation h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#a-propos .citation blockquote {
  padding: 0 0 0 2rem;
}
#a-propos .citation blockquote:before {
  content: "“";
  position: absolute;
  left: 0;
  font-size: 6rem;
  z-index: 0;
  color: rgba(200, 200, 200, 0.2);
  top: 3rem;
}
#a-propos .citation cite {
  padding: 0 0 0 2rem;
}
#a-propos .citation cite:before {
  content: "—";
  margin-right: 1rem;
  color: #888;
}
#a-propos .social-media-links {
  grid-row: 1;
  overflow: hidden;
  padding-bottom: 4px;
  width: 100%;
}
#a-propos .social-media-links h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#a-propos .social-media-links h3:hover {
  cursor: default;
}
#a-propos .social-media-links h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#a-propos .social-media-links h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#a-propos .social-media-links ul {
  margin: 0;
  padding: 0;
}
#a-propos .social-media-links ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
#a-propos .social-media-links ul li + li {
  margin-left: 1rem;
}
#a-propos .social-media-links ul li a .bi {
  text-shadow: 1px 4px 0 var(--black-color);
  transition: text-shadow 0.4s ease-in-out;
}
#a-propos .social-media-links ul li a .bi:hover {
  text-shadow: none;
}
#a-propos .social-media-links ul li a .bi-facebook {
  color: var(--facebook-color);
}
#a-propos .social-media-links ul li a .bi-twitter {
  color: var(--twitter-color);
}
#a-propos .social-media-links ul li a .bi-instagram {
  color: var(--instagram-color);
}
#a-propos .social-media-links ul li a .bi-discord {
  color: var(--discord-color);
}
#a-propos .social-media-links ul li a.btn-linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue-color);
}
#a-propos .social-media-links ul li a.btn-linkedin:hover {
  color: var(--white-color);
}
@media screen and (max-width: 500px) {
  #a-propos h2 {
    margin: 0;
  }
  #a-propos .citation {
    grid-row: 1;
  }
  #a-propos .social-media-links {
    grid-row: 2;
  }
}

/* ==========================================================================
   Section photos:
   ========================================================================== */
#pictures .container h2 {
  font-size: 4rem;
  width: fit-content;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 1px 4px 0 var(--black-color);
  transition: text-shadow 0.4s ease-in-out;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
#pictures .container h2:hover {
  text-shadow: none;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#pictures .container h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#pictures .container h3:hover {
  cursor: default;
}
#pictures .container h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#pictures .container h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#pictures .container .pictures {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 100%;
  height: 800px;
}
@media screen and (max-width: 718px) {
  #pictures .container .pictures {
    min-width: 520px;
  }
  #pictures .container .pictures .picture:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  #pictures .container .pictures {
    min-width: 440px;
  }
  #pictures .container .pictures .picture:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  #pictures .container .pictures {
    min-width: 360px;
  }
  #pictures .container .pictures .picture:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  #pictures .container .pictures {
    min-width: 280px;
  }
  #pictures .container .pictures .picture:nth-child(2) {
    display: none;
  }
}
#pictures .container .pictures .picture {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--pictureBackground);
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#pictures .container .pictures .picture.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 100%;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
#pictures .container .pictures .picture.active .picture-shadow {
  box-shadow: inset 0 -120px 120px -120px var(--black-color), inset 0 -120px 120px -100px var(--black-color);
}
#pictures .container .pictures .picture.active .label {
  bottom: 20px;
  left: 20px;
}
#pictures .container .pictures .picture.active .label .info > div {
  left: 0px;
  opacity: 1;
}
#pictures .container .pictures .picture:not(.active) {
  flex-grow: 1;
  border-radius: 20px;
}
#pictures .container .pictures .picture:not(.active) .picture-shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px var(--black-color), inset 0 -120px 0px -100px var(--black-color);
}
#pictures .container .pictures .picture:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
#pictures .container .pictures .picture:not(.active) .label .info > span {
  left: 20px;
  opacity: 0;
}
#pictures .container .pictures .picture .picture-shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#pictures .container .pictures .picture .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#pictures .container .pictures .picture .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white-color);
  color: var(--defaultBackground);
}
#pictures .container .pictures .picture .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: var(--white-color);
  white-space: pre;
}
#pictures .container .pictures .picture .label .info > span {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
#pictures .container .pictures .picture .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
#pictures .container .pictures .picture .label .info .sub {
  transition-delay: 0.1s;
}
#pictures .container .pictures .picture:first-child {
  margin-left: 0;
}
#pictures .container .pictures .picture:last-child {
  margin-right: 0;
}
@media screen and (max-width: 500px) {
  #pictures .container h2 {
    margin: 0;
  }
}

/* ==========================================================================
   À propos:
   ========================================================================== */
#p-propos article {
  margin-bottom: 2rem;
}
#p-propos article:last-child {
  margin-bottom: 0;
}
#p-propos article h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-propos article h3:hover {
  cursor: default;
}
#p-propos article h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-propos article h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#p-propos article h5 {
  margin-bottom: 0.4rem;
}
#p-propos article p {
  text-align: justify;
}
#p-propos article p + h5 {
  margin-top: 1rem;
}

/* ==========================================================================
   SETUP:
   ========================================================================== */
#p-setup {
  /* ==========================================================================
       Section résumé:
  ========================================================================== */
  /* ==========================================================================
        Section Images:
  ========================================================================== */
}
#p-setup #summary h2 {
  font-size: 4rem;
  width: fit-content;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 1px 4px 0 var(--black-color);
  transition: text-shadow 0.4s ease-in-out;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
#p-setup #summary h2:hover {
  text-shadow: none;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#p-setup #summary article {
  padding: 2rem 0 2rem 0;
}
#p-setup #summary article:last-child {
  margin-bottom: 0;
}
#p-setup #summary article h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-setup #summary article h3:hover {
  cursor: default;
}
#p-setup #summary article h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-setup #summary article h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#p-setup #summary article h5 {
  margin-bottom: 0.4rem;
}
#p-setup #summary article p {
  text-align: justify;
}
#p-setup #summary article p + h5 {
  margin-top: 1rem;
}
#p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .text-right-part {
  grid-column: 4/13;
  grid-row: 1;
}
#p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup img {
  title: url("../img/Setup 2023.webp");
  grid-column: 1/4;
  grid-row: 1;
}
#p-setup #summary article#pourquoi-ce-matériel {
  background-color: var(--color-contrast-lower);
}
#p-setup #summary article#pourquoi-ce-matériel .text-left-part {
  grid-column: 1/10;
  grid-row: 1;
}
#p-setup #summary article#pourquoi-ce-matériel img {
  grid-column: 10/13;
  grid-row: 1;
}
#p-setup #summary article#est-il-voué-à-évoluer .text-right-part {
  grid-column: 4/13;
  grid-row: 1;
}
#p-setup #summary article#est-il-voué-à-évoluer img {
  grid-column: 1/4;
  grid-row: 1;
}
@media screen and (min-width: 2500px) {
  #p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .text-right-part, #p-setup #summary article#est-il-voué-à-évoluer .text-right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #p-setup #summary article#pourquoi-ce-matériel .text-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  #p-setup #summary .info {
    width: max-content;
  }
  #p-setup #summary .info:after {
    display: none;
  }
  #p-setup #summary .info div {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  #p-setup #summary h2 {
    margin-left: 0;
  }
  #p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .container .wrapper img, #p-setup #summary article#pourquoi-ce-matériel .container .wrapper img, #p-setup #summary article#est-il-voué-à-évoluer .container .wrapper img {
    height: max-content;
    display: table-cell;
    vertical-align: middle;
  }
}
#p-setup #pictures {
  background-color: var(--color-contrast-lower);
  /* ==========================================================================
      Responsive:
  ========================================================================== */
}
#p-setup #pictures h2 {
  font-size: 4rem;
  width: fit-content;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 1px 4px 0 var(--black-color);
  transition: text-shadow 0.4s ease-in-out;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
#p-setup #pictures h2:hover {
  text-shadow: none;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#p-setup #pictures .container {
  display: flex;
  flex-direction: column;
}
#p-setup #pictures .container .img-setup {
  text-align: center;
}
#p-setup #pictures .container .img-setup img {
  width: 25%;
  height: fit-content;
  padding: 10px;
  opacity: 0.8;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#p-setup #pictures .container .img-setup img:hover {
  opacity: 1;
}
@media screen and (max-width: 960px) {
  #p-setup #pictures .info {
    width: max-content;
  }
  #p-setup #pictures .info:after {
    display: none;
  }
  #p-setup #pictures .info div {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  #p-setup #pictures h2 {
    margin-left: 0;
  }
}

/* ==========================================================================
   Contact:
   ========================================================================== */
#p-contact #contact-form h2 {
  font-size: 4rem;
  text-shadow: 0 6px 0 var(--black-color);
}
#p-contact #contact-form p {
  color: rgb(62, 62, 65);
  padding-bottom: 0.6rem;
}
#p-contact #contact-form form button {
  color: var(--white-color);
  background-color: #708AD4;
  margin-top: 0.6rem;
}
#p-contact #contact-form form button:hover {
  color: #212529;
  border-color: var(--white-color);
}
#p-contact #contact-form h2 {
  font-size: 4rem;
  text-shadow: 0 6px 0 var(--black-color);
}
#p-contact #contact-form p {
  color: rgb(62, 62, 65);
  padding-bottom: 0.6rem;
}
#p-contact #contact-form .card {
  width: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#p-contact #contact-form .card h3 {
  margin-bottom: 2rem;
  padding: 0;
  color: var(--white-color);
  text-align: center;
}
#p-contact #contact-form .card .user-box {
  position: relative;
}
#p-contact #contact-form .card .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--white-color);
  outline: none;
  background: transparent;
}
#p-contact #contact-form .card .user-box input:focus ~ label, #p-contact #contact-form .card .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #708AD4;
  font-size: 12px;
}
#p-contact #contact-form .card .user-box input .form-control:focus {
  border-color: transparent !important;
}
#p-contact #contact-form .card .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--white-color);
  outline: none;
  background: transparent;
}
#p-contact #contact-form .card .user-box textarea:focus ~ label, #p-contact #contact-form .card .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #708AD4;
  font-size: 12px;
}
#p-contact #contact-form .card .user-box textarea .form-control:focus {
  border-color: transparent !important;
}
#p-contact #contact-form .card .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--white-color);
  pointer-events: none;
  transition: 0.5s;
}
#p-contact #contact-infos .banner, #p-contact #contact-infos .banner-icon {
  align-items: center;
  display: flex;
}
#p-contact #contact-infos .banner {
  background-color: #708AD4;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 0 1rem;
  min-height: 66px;
  overflow: hidden;
  padding: 9px 0;
  position: relative;
}
#p-contact #contact-infos .banner .banner-icon {
  background-color: #111114;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}
#p-contact #contact-infos .banner .banner-icon:before {
  border-bottom: 5px solid transparent;
  border-left: 10px solid #111114;
  border-right: 0 solid transparent;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  left: 66px;
  position: absolute;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
}
#p-contact #contact-infos .banner .banner-title {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  padding-left: 85px;
  text-shadow: 3px 3px 4px var(--color-contrast-low);
  width: 100%;
}
#p-contact #contact-infos .banner .banner-title h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-contact #contact-infos .banner .banner-title h3:hover {
  cursor: default;
}
#p-contact #contact-infos .banner .banner-title h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-contact #contact-infos .banner .banner-title h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}

/* ==========================================================================
   Discord:
   ========================================================================== */
#discord_widget.card {
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#discord_widget .card-header {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#discord_widget .card-header h5 {
  display: flex;
  align-items: center;
}
#discord_widget .card-header h5 i {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content {
  padding: 15px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-Discordusers {
  height: 200px;
  overflow: auto;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-discordUser {
  align-items: center;
  display: flex;
  padding: 5px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-userImg {
  background: rgba(0, 0, 0, 0.149) no-repeat 50%/cover;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-status-dnd {
  background: var(--color-error);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-status-online {
  background: var(--color-success);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-userStatus {
  border-radius: 50%;
  display: block;
  height: 8px;
  left: auto;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 8px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-username {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-Discordinfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-js--Discordcount {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Mentions légales:
   ========================================================================== */
#p-mentions-legales .title {
  padding-bottom: 2rem;
}
#p-mentions-legales .title h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 6px 0 var(--black-color);
}
#p-mentions-legales .title h2 {
  color: var(--color-accent);
  text-align: center;
  text-shadow: 0 6px 0 var(--black-color);
}
#p-mentions-legales h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-mentions-legales h3:hover {
  cursor: default;
}
#p-mentions-legales h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-mentions-legales h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: var(--rose-gradient);
  transition: width 0.4s ease-in-out;
}
#p-mentions-legales p {
  text-align: justify;
  padding-bottom: 0.6rem;
}
#p-mentions-legales p:last-child {
  padding-bottom: 0;
}

/* ==========================================================================
   Footer:
   ========================================================================== */
.footer-style {
  color: var(--white-color);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.footer--logo {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  width: 60%;
  text-align: center;
}
.footer--logo:hover {
  opacity: 1;
}

.footer--liens .navbar-nav {
  flex-wrap: wrap;
  max-height: 300px;
}

.footer--liens .navbar-nav .nav-item {
  max-width: 50%;
}

.footer--links-item {
  font-size: 32px;
  color: var(--color-contrast-high);
  padding: 0 0.5rem;
}

.footer--links-item a {
  padding: 0 1rem;
}

.footer.fixed-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
@media screen and (max-width: 460px) {
  .footer.fixed-footer {
    position: static;
  }
}
.footer .footer--bottom {
  padding: 1.5rem 0;
  background-color: var(--color-black);
}
.footer .footer--bottom div {
  vertical-align: middle;
}
.footer .footer--bottom .footer--copyright {
  grid-column: 1/7;
  text-align: start;
}
.footer .footer--bottom .footer--legal {
  grid-column: 8/13;
  text-align: end;
}

/*# sourceMappingURL=index.css.map */
