@charset "UTF-8";
/* ==========================================================================
   Styles:
   ========================================================================== */
/* ==========================================================================
    Créer une icon x2 à x4:
========================================================================== */
.bi-2X {
  font-size: 2rem;
}

.bi-3X {
  font-size: 3rem;
}

.bi-4X {
  font-size: 4rem;
}

/* ==========================================================================
    HTML:
========================================================================== */
html {
  max-width: 100%;
  /* ==========================================================================
      Button to TOP:
  ========================================================================== */
  /* ==========================================================================
      Liens:
  ========================================================================== */
  /* ==========================================================================
      Responsive:
  ========================================================================== */
}
html .sr .load-hidden {
  visibility: hidden;
}
html body {
  /* ==========================================================================
  Cursor:
  ========================================================================== */
  cursor: unset;
  cursor: url("../img/mouse-cursor.cur"), auto;
}
html #button {
  opacity: 0;
  color: #fff;
  right: -40px;
  bottom: 260px;
  z-index: 1000;
  position: fixed;
  text-align: center;
  visibility: hidden;
  line-height: 1.4rem;
  display: inline-block;
  padding: 0.2rem 0 0 0.2rem;
  background-color: rgba(16, 15, 15, 0.6);
  transition: opacity 0.5s, visibility 0.5s;
  transform: rotate(-90deg) translate(-50%, 0);
}
html #button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
}
html #button:hover {
  cursor: pointer;
}
html #button:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
html #button.show {
  opacity: 1;
  visibility: visible;
}
html a {
  text-decoration: none;
  color: var(--color-white);
  transition: ease-in-out 0.2s;
}
html a:hover {
  color: #708AD4;
}
html a, html p, html i {
  font-family: Noto Sans JP, sans-serif;
  color: var(--color-white);
}
html .bg-accent-darker {
  background-color: hsla(var(--color-accent-darker-h), var(--color-accent-darker-s), var(--color-accent-darker-l), var(--bg-o, 1));
}
html .wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
html .content {
  /* ==========================================================================
      Sections:
  ========================================================================== */
  /* ==========================================================================
      Titres:
  ========================================================================== */
  /* ==========================================================================
      Boutons:
  ========================================================================== */
  /* ==========================================================================
      Icons:
  ========================================================================== */
}
html .content section {
  padding: 2rem 0 2rem 0;
}
html .content h1, html .content h1 a, html .content h2, html .content h2 a, html .content h3, html .content h3 a, html .content h4, html .content h4 a, html .content h5, html .content h5 a, html .content h6, html .content h6 a {
  font-family: Carter One, cursive;
}
html .content .btn {
  padding: 1rem;
  background: transparent;
  width: 200px;
  border: 1px solid #0a0a0a;
  box-shadow: inset 0 1px 8px black;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  line-height: 0;
}
html .content .btn.btn-principal {
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  border-radius: 20px;
}
html .content .btn.btn-principal:hover {
  color: var(--color-white);
}
html .content i + i {
  margin-top: 1rem;
}
/* ==========================================================================
   Navbar:
   ========================================================================== */
.header {
  height: 100%;
  width: 100%;
}
.header nav .navbar-brand img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 6px #000000;
  animation: logoFadeIn 0.6s ease-in-out;
}
@keyframes logoFadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header nav .navbar-nav {
  animation: navFadeIn 1s ease-in-out;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.header nav .navbar-nav .nav-item .nav-link {
  font-family: Merienda, cursive;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
.header nav .navbar-nav .nav-item .nav-link .bi {
  animation: iconFadeIn 0.4s ease-in-out;
  animation-delay: 2s;
}
@keyframes iconFadeIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header nav .navbar-nav .nav-item.active .nav-link {
  font-weight: 700;
  font-size: 20px;
}
.header nav .navbar-nav .nav-item.active .nav-link:after {
  transform: scaleX(0);
  transform-origin: left;
}
.header .navbar-toggler {
  margin-right: 3rem;
}
.header .navbar-toggler .navbar-toggler-icon {
  color: var(--color-contrast-high);
}
.header .navbar {
  height: 100px;
  padding: 0;
}
.header .navbar-collapse {
  background-color: var(--color-contrast-lower);
}
.header .navbar-brand {
  padding: 0 0 0 3rem;
  margin: 0;
}
.header .navbar-brand, .header .navbar-brand img {
  max-width: 60px;
}
.header .dropdown-toggle:after {
  border-top: 0;
}
.header .nav-link {
  position: relative;
  min-height: 50px;
}
.header .nav-link:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
}
.header .nav-link.active:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  display: block;
  width: 100%;
  z-index: -1;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(1);
  transition: transform 0.6s;
  transform-origin: 100% 0;
  background: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
}
.header .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 992px) {
  .header .navbar {
    height: 100px;
  }
  .header .navbar-brand {
    padding: 0;
  }
  .header .navbar-brand, .header .navbar-brand img {
    max-width: 80px;
  }
  .header .navbar-collapse {
    background-color: transparent;
  }
}
/* ==========================================================================
   Banner
   ========================================================================== */
.box {
  display: flex;
}

.home-background {
  background: url("../img/banniere.webp") no-repeat center/cover;
  position: relative;
  min-height: 100vh;
  box-shadow: inset 0 0 20px hsla(225deg, 33%, 7%, 0.5);
}

.setup-background {
  background: url("../img/Setup 2023.webp") no-repeat center/cover;
  position: relative;
  min-height: 100vh;
  box-shadow: inset 0 0 20px hsla(225deg, 33%, 7%, 0.5);
}

.box_KelenS {
  top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box_KelenS .title_KelenS {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.box_KelenS .title_KelenS .block_KelenS {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.box_KelenS .title_KelenS .h1_KelenS {
  font-family: "Poppins";
  color: #fff;
  font-size: 64px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.box_KelenS .title_KelenS .h1_KelenS span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.box_KelenS .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.box_KelenS .role .block_KelenS {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.box_KelenS .role .p_KelenS {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media screen and (max-width: 460px) {
  .box_KelenS {
    width: 100%;
  }
  .box_KelenS .title_KelenS {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  .box_KelenS .title_KelenS .block_KelenS {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
  }
  .box_KelenS .title_KelenS .h1_KelenS {
    font-family: "Poppins";
    color: #fff;
    font-size: 64px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }
  .box_KelenS .title_KelenS .h1_KelenS span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffb510;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
  }
  .box_KelenS .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
  .box_KelenS .role .block_KelenS {
    width: 0%;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
  }
  .box_KelenS .role .p_KelenS {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato";
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/* ==========================================================================
   Scroll down
   ========================================================================== */
.down a {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s;
}
.down a:hover {
  opacity: 0.5;
}

#scroll-down a {
  padding-top: 60px;
}
#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll-down a span:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* ==========================================================================
   Accueil:
   ========================================================================== */
/* ==========================================================================
   Section à propos:
   ========================================================================== */
#a-propos h2 {
  font-size: 4rem;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 0 6px 0 black;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#a-propos .info {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/4;
}
#a-propos .info:after {
  content: "";
  position: absolute;
  background: var(--color-accent);
  height: 2px;
  width: 34rem;
  right: -250px;
  top: 254px;
  transform: rotate(90deg);
}
#a-propos .info img {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
#a-propos .info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
#a-propos .info div:last-child {
  margin-bottom: 0;
}
#a-propos .info div h4 {
  color: var(--color-title-propos);
  margin-right: 0.2rem;
  font-size: 1rem;
}
#a-propos .about {
  grid-column: 4/13;
  grid-row: 1;
}
#a-propos .about p {
  text-align: justify;
  margin-bottom: 1rem;
}
#a-propos .citation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-contrast-lower);
  padding: 1rem;
  grid-column: 4/13;
  grid-row: 2;
}
#a-propos .citation h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#a-propos .citation h3:hover {
  cursor: default;
}
#a-propos .citation h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#a-propos .citation h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#a-propos .citation blockquote {
  padding: 0 0 0 2rem;
}
#a-propos .citation blockquote:before {
  content: "“";
  position: absolute;
  left: 0;
  font-size: 6rem;
  z-index: 0;
  color: rgba(200, 200, 200, 0.2);
  top: 3rem;
}
#a-propos .citation cite {
  padding: 0 0 0 2rem;
}
#a-propos .citation cite:before {
  content: "—";
  margin-right: 1rem;
  color: #888;
}
#a-propos .social-media-links {
  grid-column: 4/13;
  grid-row: 3;
  overflow: hidden;
  padding-bottom: 4px;
  width: 100%;
}
#a-propos .social-media-links h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#a-propos .social-media-links h3:hover {
  cursor: default;
}
#a-propos .social-media-links h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#a-propos .social-media-links h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#a-propos .social-media-links ul {
  margin: 0;
  padding: 0;
}
#a-propos .social-media-links ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
#a-propos .social-media-links ul li + li {
  margin-left: 1rem;
}
#a-propos .social-media-links ul li a .bi {
  text-shadow: 1px 4px 0 black;
  transition: text-shadow 0.4s ease-in-out;
}
#a-propos .social-media-links ul li a .bi:hover {
  text-shadow: none;
}
#a-propos .social-media-links ul li a .bi-facebook {
  color: #273c75;
}
#a-propos .social-media-links ul li a .bi-twitter {
  color: #1da1f2;
}
#a-propos .social-media-links ul li a .bi-instagram {
  color: #ff0076;
}
#a-propos .social-media-links ul li a .bi-discord {
  color: #5865F2;
}
#a-propos .social-media-links ul li a.btn-linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0A66C2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}
@media screen and (min-width: 2500px) {
  #a-propos .info {
    padding-left: 10rem;
  }
  #a-propos .info:after {
    width: 34rem;
    right: -238px;
    top: 254px;
  }
}
@media screen and (max-width: 960px) {
  #a-propos .info {
    width: max-content;
  }
  #a-propos .info:after {
    display: none;
  }
  #a-propos .info div {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  #a-propos h2 {
    margin: 0;
  }
  #a-propos .info {
    display: flex;
    flex-direction: column;
    grid-column: 1/13;
    grid-row: 1;
  }
  #a-propos .info:after {
    display: none;
  }
  #a-propos .about {
    grid-column: 1/13;
    grid-row: 2;
  }
  #a-propos .citation {
    grid-column: 1/13;
    grid-row: 3;
  }
  #a-propos .social-media-links {
    grid-column: 1/13;
    grid-row: 4;
  }
}

/* ==========================================================================
   Section résumé:
   ========================================================================== */
#abstract {
  background-color: var(--color-contrast-lower);
}
#abstract ul + ul {
  margin-top: 2rem;
}
#abstract h2 {
  font-size: 4rem;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 0 6px 0 black;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#abstract .hobby {
  position: relative;
  grid-column: 1/4;
  grid-row: 1;
  padding-right: 4rem;
}
#abstract .hobby:after {
  content: "";
  position: absolute;
  background: var(--color-accent);
  height: 2px;
  width: 71rem;
  right: -546px;
  top: 562px;
  transform: rotate(90deg);
}
#abstract .hobby i {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#abstract .hobby i p {
  hyphens: auto;
  text-align: end;
}
#abstract .langages {
  grid-column: 4/13;
  margin-bottom: 1rem;
}
#abstract .langages h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#abstract .langages h3:hover {
  cursor: default;
}
#abstract .langages h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#abstract .langages h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#abstract .langages ul {
  margin: 0;
}
#abstract .langages ul li {
  list-style: none;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
}
#abstract .langages ul li:last-child {
  padding: 0;
}
#abstract .langages .logo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: none;
  margin-right: 1rem;
}
#abstract .langages .logo img {
  position: relative;
  /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
  background-clip: padding-box;
  border-radius: inherit;
  width: 54px;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
#abstract .langages .logo img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -8px;
  /* same as border width */
  border-radius: 50%;
  /* inherit container box's radius */
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}
#abstract .langages .barre {
  width: 100%;
  background: #44615E;
  position: relative;
  height: 10px;
}
#abstract .langages .barre + .barre {
  margin-top: 10px;
}
#abstract .langages .barre:after {
  content: "";
  position: absolute;
  background: #e43397;
  left: 0;
  top: 0;
  bottom: 0;
}
#abstract .langages .barre[data-length="10"]:after {
  width: 10%;
}
#abstract .langages .barre[data-length="11"]:after {
  width: 11%;
}
#abstract .langages .barre[data-length="12"]:after {
  width: 12%;
}
#abstract .langages .barre[data-length="13"]:after {
  width: 13%;
}
#abstract .langages .barre[data-length="14"]:after {
  width: 14%;
}
#abstract .langages .barre[data-length="15"]:after {
  width: 15%;
}
#abstract .langages .barre[data-length="16"]:after {
  width: 16%;
}
#abstract .langages .barre[data-length="17"]:after {
  width: 17%;
}
#abstract .langages .barre[data-length="18"]:after {
  width: 18%;
}
#abstract .langages .barre[data-length="19"]:after {
  width: 19%;
}
#abstract .langages .barre[data-length="20"]:after {
  width: 20%;
}
#abstract .langages .barre[data-length="21"]:after {
  width: 21%;
}
#abstract .langages .barre[data-length="22"]:after {
  width: 22%;
}
#abstract .langages .barre[data-length="23"]:after {
  width: 23%;
}
#abstract .langages .barre[data-length="24"]:after {
  width: 24%;
}
#abstract .langages .barre[data-length="25"]:after {
  width: 25%;
}
#abstract .langages .barre[data-length="26"]:after {
  width: 26%;
}
#abstract .langages .barre[data-length="27"]:after {
  width: 27%;
}
#abstract .langages .barre[data-length="28"]:after {
  width: 28%;
}
#abstract .langages .barre[data-length="29"]:after {
  width: 29%;
}
#abstract .langages .barre[data-length="30"]:after {
  width: 30%;
}
#abstract .langages .barre[data-length="31"]:after {
  width: 31%;
}
#abstract .langages .barre[data-length="32"]:after {
  width: 32%;
}
#abstract .langages .barre[data-length="33"]:after {
  width: 33%;
}
#abstract .langages .barre[data-length="34"]:after {
  width: 34%;
}
#abstract .langages .barre[data-length="35"]:after {
  width: 35%;
}
#abstract .langages .barre[data-length="36"]:after {
  width: 36%;
}
#abstract .langages .barre[data-length="37"]:after {
  width: 37%;
}
#abstract .langages .barre[data-length="38"]:after {
  width: 38%;
}
#abstract .langages .barre[data-length="39"]:after {
  width: 39%;
}
#abstract .langages .barre[data-length="40"]:after {
  width: 40%;
}
#abstract .langages .barre[data-length="41"]:after {
  width: 41%;
}
#abstract .langages .barre[data-length="42"]:after {
  width: 42%;
}
#abstract .langages .barre[data-length="43"]:after {
  width: 43%;
}
#abstract .langages .barre[data-length="44"]:after {
  width: 44%;
}
#abstract .langages .barre[data-length="45"]:after {
  width: 45%;
}
#abstract .langages .barre[data-length="46"]:after {
  width: 46%;
}
#abstract .langages .barre[data-length="47"]:after {
  width: 47%;
}
#abstract .langages .barre[data-length="48"]:after {
  width: 48%;
}
#abstract .langages .barre[data-length="49"]:after {
  width: 49%;
}
#abstract .langages .barre[data-length="50"]:after {
  width: 50%;
}
#abstract .langages .barre[data-length="51"]:after {
  width: 51%;
}
#abstract .langages .barre[data-length="52"]:after {
  width: 52%;
}
#abstract .langages .barre[data-length="53"]:after {
  width: 53%;
}
#abstract .langages .barre[data-length="54"]:after {
  width: 54%;
}
#abstract .langages .barre[data-length="55"]:after {
  width: 55%;
}
#abstract .langages .barre[data-length="56"]:after {
  width: 56%;
}
#abstract .langages .barre[data-length="57"]:after {
  width: 57%;
}
#abstract .langages .barre[data-length="58"]:after {
  width: 58%;
}
#abstract .langages .barre[data-length="59"]:after {
  width: 59%;
}
#abstract .langages .barre[data-length="60"]:after {
  width: 60%;
}
#abstract .langages .barre[data-length="61"]:after {
  width: 61%;
}
#abstract .langages .barre[data-length="62"]:after {
  width: 62%;
}
#abstract .langages .barre[data-length="63"]:after {
  width: 63%;
}
#abstract .langages .barre[data-length="64"]:after {
  width: 64%;
}
#abstract .langages .barre[data-length="65"]:after {
  width: 65%;
}
#abstract .langages .barre[data-length="66"]:after {
  width: 66%;
}
#abstract .langages .barre[data-length="67"]:after {
  width: 67%;
}
#abstract .langages .barre[data-length="68"]:after {
  width: 68%;
}
#abstract .langages .barre[data-length="69"]:after {
  width: 69%;
}
#abstract .langages .barre[data-length="70"]:after {
  width: 70%;
}
#abstract .langages .barre[data-length="71"]:after {
  width: 71%;
}
#abstract .langages .barre[data-length="72"]:after {
  width: 72%;
}
#abstract .langages .barre[data-length="73"]:after {
  width: 73%;
}
#abstract .langages .barre[data-length="74"]:after {
  width: 74%;
}
#abstract .langages .barre[data-length="75"]:after {
  width: 75%;
}
#abstract .langages .barre[data-length="76"]:after {
  width: 76%;
}
#abstract .langages .barre[data-length="77"]:after {
  width: 77%;
}
#abstract .langages .barre[data-length="78"]:after {
  width: 78%;
}
#abstract .langages .barre[data-length="79"]:after {
  width: 79%;
}
#abstract .langages .barre[data-length="80"]:after {
  width: 80%;
}
#abstract .langages .barre[data-length="81"]:after {
  width: 81%;
}
#abstract .langages .barre[data-length="82"]:after {
  width: 82%;
}
#abstract .langages .barre[data-length="83"]:after {
  width: 83%;
}
#abstract .langages .barre[data-length="84"]:after {
  width: 84%;
}
#abstract .langages .barre[data-length="85"]:after {
  width: 85%;
}
#abstract .langages .barre[data-length="86"]:after {
  width: 86%;
}
#abstract .langages .barre[data-length="87"]:after {
  width: 87%;
}
#abstract .langages .barre[data-length="88"]:after {
  width: 88%;
}
#abstract .langages .barre[data-length="89"]:after {
  width: 89%;
}
#abstract .langages .barre[data-length="90"]:after {
  width: 90%;
}
#abstract .langages .barre[data-length="91"]:after {
  width: 91%;
}
#abstract .langages .barre[data-length="92"]:after {
  width: 92%;
}
#abstract .langages .barre[data-length="93"]:after {
  width: 93%;
}
#abstract .langages .barre[data-length="94"]:after {
  width: 94%;
}
#abstract .langages .barre[data-length="95"]:after {
  width: 95%;
}
#abstract .langages .barre[data-length="96"]:after {
  width: 96%;
}
#abstract .langages .barre[data-length="97"]:after {
  width: 97%;
}
#abstract .langages .barre[data-length="98"]:after {
  width: 98%;
}
#abstract .langages .barre[data-length="99"]:after {
  width: 99%;
}
#abstract .langages .barre[data-length="100"]:after {
  width: 100%;
}
#abstract .langages .btn-html {
  background: var(--color-html);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .langages .btn-css {
  background: var(--color-css);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .langages .btn-sass {
  background: var(--color-sass);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .langages .btn-js {
  background: var(--color-js);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .langages .btn-php {
  background: var(--color-php);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .langages .btn-git {
  background: var(--color-git);
  width: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
#abstract .education {
  grid-column: 4/8;
}
#abstract .education h3, #abstract .experience h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#abstract .education h3:hover, #abstract .experience h3:hover {
  cursor: default;
}
#abstract .education h3:hover:after, #abstract .experience h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#abstract .education h3:after, #abstract .experience h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#abstract .education .date, #abstract .experience .date {
  color: var(--color-accent);
  font-size: 1.2rem;
  background-color: #17181c;
  width: fit-content;
  padding: 0.2rem;
  box-shadow: 0 0 6px black;
}
#abstract .education .name, #abstract .experience .name {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-white);
}
#abstract .education .description, #abstract .experience .description {
  font-size: 1.2rem;
}
#abstract .experience {
  grid-column: 9/13;
}
@media screen and (min-width: 2500px) {
  #abstract .hobby {
    padding-left: 10rem;
  }
  #abstract .hobby:after {
    width: 68rem;
    right: -510px;
    top: 542px;
  }
}
@media screen and (max-width: 460px) {
  #abstract h2 {
    margin: 0;
  }
  #abstract .hobby {
    align-content: center;
    grid-column: 1/4;
    grid-row: 1;
    padding-right: 3rem;
  }
  #abstract .hobby i p {
    display: none;
  }
  #abstract .hobby:after {
    width: 113rem;
    right: -868px;
    top: 902px;
  }
  #abstract .langages {
    grid-column: 4/13;
    grid-row: 1;
  }
  #abstract .education {
    grid-column: 4/13;
    grid-row: 2;
  }
  #abstract .experience {
    grid-column: 4/13;
    grid-row: 3;
  }
}

/* ==========================================================================
   Section projets:
   ========================================================================== */
#projects h2 {
  font-size: 4rem;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 0 6px 0 black;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#projects ul {
  margin: 0;
}
#projects ul li {
  grid-column: 1/7;
  list-style: none;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
#projects ul li:last-child {
  grid-column: 7/13;
  padding: 0;
}
#projects ul li h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#projects ul li h3:hover {
  cursor: default;
}
#projects ul li h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#projects ul li h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#projects ul li .skills-project {
  display: flex;
  margin-bottom: 0.4rem;
}
#projects ul li .skills-project li {
  margin-right: 0.4rem;
  padding: 0;
}
#projects ul li .skills-project li:last-child {
  margin: 0;
}
#projects ul li .skills-project li span {
  color: var(--color-white);
  background-color: #e43397;
  border-radius: 20px;
  padding: 0.2rem;
  text-align: center;
}
#projects ul li p + p {
  margin-top: 0.4rem;
}
#projects ul li article {
  color: var(--color-white);
}
@media screen and (max-width: 460px) {
  #projects h2 {
    margin: 0;
  }
  #projects li {
    grid-column: 1/13 !important;
    grid-row: 1;
  }
  #projects li:last-child {
    grid-row: 2;
  }
}

/* ==========================================================================
   CV:
   ========================================================================== */
#p-cv h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-cv h3:hover {
  cursor: default;
}
#p-cv h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-cv h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}

/* ==========================================================================
   Section CV:
   ========================================================================== */
#cv {
  text-align: center;
}

/* ==========================================================================
   À propos:
   ========================================================================== */
#p-propos article {
  margin-bottom: 2rem;
}
#p-propos article:last-child {
  margin-bottom: 0;
}
#p-propos article h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-propos article h3:hover {
  cursor: default;
}
#p-propos article h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-propos article h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#p-propos article h5 {
  margin-bottom: 0.4rem;
}
#p-propos article p {
  text-align: justify;
}
#p-propos article p + h5 {
  margin-top: 1rem;
}

/* ==========================================================================
   SETUP:
   ========================================================================== */
#p-setup {
  /* ==========================================================================
       Section résumé:
  ========================================================================== */
  /* ==========================================================================
        Section Images:
  ========================================================================== */
}
#p-setup #summary h2 {
  font-size: 4rem;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 0 6px 0 black;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#p-setup #summary article {
  padding: 2rem 0 2rem 0;
}
#p-setup #summary article:last-child {
  margin-bottom: 0;
}
#p-setup #summary article h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-setup #summary article h3:hover {
  cursor: default;
}
#p-setup #summary article h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-setup #summary article h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#p-setup #summary article h5 {
  margin-bottom: 0.4rem;
}
#p-setup #summary article p {
  text-align: justify;
}
#p-setup #summary article p + h5 {
  margin-top: 1rem;
}
#p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .text-right-part {
  grid-column: 4/13;
  grid-row: 1;
}
#p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup img {
  title: url("../img/Setup 2023.webp");
  grid-column: 1/4;
  grid-row: 1;
}
#p-setup #summary article#pourquoi-ce-matériel {
  background-color: var(--color-contrast-lower);
}
#p-setup #summary article#pourquoi-ce-matériel .text-left-part {
  grid-column: 1/10;
  grid-row: 1;
}
#p-setup #summary article#pourquoi-ce-matériel img {
  grid-column: 10/13;
  grid-row: 1;
}
#p-setup #summary article#est-il-voué-à-évoluer .text-right-part {
  grid-column: 4/13;
  grid-row: 1;
}
#p-setup #summary article#est-il-voué-à-évoluer img {
  grid-column: 1/4;
  grid-row: 1;
}
@media screen and (min-width: 2500px) {
  #p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .text-right-part, #p-setup #summary article#est-il-voué-à-évoluer .text-right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #p-setup #summary article#pourquoi-ce-matériel .text-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  #p-setup #summary .info {
    width: max-content;
  }
  #p-setup #summary .info:after {
    display: none;
  }
  #p-setup #summary .info div {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  #p-setup #summary h2 {
    margin-left: 0;
  }
  #p-setup #summary article#comment-ai-je-fait-pour-avoir-un-tel-setup .container .wrapper img, #p-setup #summary article#pourquoi-ce-matériel .container .wrapper img, #p-setup #summary article#est-il-voué-à-évoluer .container .wrapper img {
    height: max-content;
    display: table-cell;
    vertical-align: middle;
  }
}
#p-setup #pictures {
  background-color: var(--color-contrast-lower);
  /* ==========================================================================
      Responsive:
  ========================================================================== */
}
#p-setup #pictures h2 {
  font-size: 4rem;
  margin-left: 12rem;
  padding: 0.6rem 0 0.6rem 0;
  text-shadow: 0 6px 0 black;
  animation: titleFadeIn 0.6s ease-in-out 0.3s;
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
#p-setup #pictures .container {
  display: flex;
  flex-direction: column;
}
#p-setup #pictures .container .img-setup {
  text-align: center;
}
#p-setup #pictures .container .img-setup img {
  width: 25%;
  height: fit-content;
  padding: 10px;
  opacity: 0.8;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#p-setup #pictures .container .img-setup img:hover {
  opacity: 1;
}
#p-setup #pictures .container .img-setup-expanted {
  position: relative;
}
#p-setup #pictures .container .img-setup-expanted .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
#p-setup #pictures .container .img-setup-expanted #expandedImg {
  width: 100%;
}
#p-setup #pictures .container .img-setup-expanted #imgtext {
  background: rgba(16, 15, 15, 0.6);
  border-radius: 20px;
  position: absolute;
  font-size: 20px;
  padding: 0.6rem;
  bottom: 15px;
  color: white;
  left: 15px;
}
@media screen and (max-width: 960px) {
  #p-setup #pictures .info {
    width: max-content;
  }
  #p-setup #pictures .info:after {
    display: none;
  }
  #p-setup #pictures .info div {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  #p-setup #pictures h2 {
    margin-left: 0;
  }
}

/* ==========================================================================
   Contact:
   ========================================================================== */
#p-contact #contact-form h2 {
  font-size: 4rem;
  text-shadow: 0 6px 0 black;
}
#p-contact #contact-form p {
  color: rgb(62, 62, 65);
  padding-bottom: 0.6rem;
}
#p-contact #contact-form form button {
  color: white;
  background-color: #708AD4;
  margin-top: 0.6rem;
}
#p-contact #contact-form form button:hover {
  color: #212529;
  border-color: white;
}
#p-contact #contact-form h2 {
  font-size: 4rem;
  text-shadow: 0 6px 0 black;
}
#p-contact #contact-form p {
  color: rgb(62, 62, 65);
  padding-bottom: 0.6rem;
}
#p-contact #contact-form .card {
  width: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#p-contact #contact-form .card h3 {
  margin-bottom: 2rem;
  padding: 0;
  color: #fff;
  text-align: center;
}
#p-contact #contact-form .card .user-box {
  position: relative;
}
#p-contact #contact-form .card .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#p-contact #contact-form .card .user-box input:focus ~ label, #p-contact #contact-form .card .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #708AD4;
  font-size: 12px;
}
#p-contact #contact-form .card .user-box input .form-control:focus {
  border-color: transparent !important;
}
#p-contact #contact-form .card .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#p-contact #contact-form .card .user-box textarea:focus ~ label, #p-contact #contact-form .card .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #708AD4;
  font-size: 12px;
}
#p-contact #contact-form .card .user-box textarea .form-control:focus {
  border-color: transparent !important;
}
#p-contact #contact-form .card .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
#p-contact #contact-infos .banner, #p-contact #contact-infos .banner-icon {
  align-items: center;
  display: flex;
}
#p-contact #contact-infos .banner {
  background-color: #708AD4;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 0 1rem;
  min-height: 66px;
  overflow: hidden;
  padding: 9px 0;
  position: relative;
}
#p-contact #contact-infos .banner .banner-icon {
  background-color: #111114;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}
#p-contact #contact-infos .banner .banner-icon:before {
  border-bottom: 5px solid transparent;
  border-left: 10px solid #111114;
  border-right: 0 solid transparent;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  left: 66px;
  position: absolute;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
}
#p-contact #contact-infos .banner .banner-title {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  padding-left: 85px;
  text-shadow: 3px 3px 4px var(--color-contrast-low);
  width: 100%;
}
#p-contact #contact-infos .banner .banner-title h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-contact #contact-infos .banner .banner-title h3:hover {
  cursor: default;
}
#p-contact #contact-infos .banner .banner-title h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-contact #contact-infos .banner .banner-title h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}

/* ==========================================================================
   Discord:
   ========================================================================== */
#discord_widget.card {
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#discord_widget .card-header {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#discord_widget .card-header h5 {
  display: flex;
  align-items: center;
}
#discord_widget .card-header h5 i {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content {
  padding: 15px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-Discordusers {
  height: 200px;
  overflow: auto;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-discordUser {
  align-items: center;
  display: flex;
  padding: 5px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-userImg {
  background: rgba(0, 0, 0, 0.149) no-repeat 50%/cover;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-status-dnd {
  background: var(--color-error);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-status-online {
  background: var(--color-success);
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-userStatus {
  border-radius: 50%;
  display: block;
  height: 8px;
  left: auto;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 8px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-username {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-Discordinfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
#discord_widget [data-widget=kelens_discord_widget] .kelens-content .kelens-js--Discordcount {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Mentions légales:
   ========================================================================== */
#p-mentions-legales .title {
  padding-bottom: 2rem;
}
#p-mentions-legales .title h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 6px 0 black;
}
#p-mentions-legales .title h2 {
  color: var(--color-accent);
  text-align: center;
  text-shadow: 0 6px 0 black;
}
#p-mentions-legales h3 {
  font-size: 1.75rem;
  color: #ebb455;
  position: relative;
  padding-bottom: 0.6rem !important;
  margin-bottom: 0.4rem !important;
  width: fit-content;
}
#p-mentions-legales h3:hover {
  cursor: default;
}
#p-mentions-legales h3:hover:after {
  content: "";
  position: absolute;
  width: 100%;
}
#p-mentions-legales h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
  transition: width 0.4s ease-in-out;
}
#p-mentions-legales p {
  text-align: justify;
  padding-bottom: 0.6rem;
}
#p-mentions-legales p:last-child {
  padding-bottom: 0;
}

/* ==========================================================================
   Footer:
   ========================================================================== */
.footer-style {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.footer--logo {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  width: 60%;
  text-align: center;
}
.footer--logo:hover {
  opacity: 1;
}

.footer--liens .navbar-nav {
  flex-wrap: wrap;
  max-height: 300px;
}

.footer--liens .navbar-nav .nav-item {
  max-width: 50%;
}

.footer--links-item {
  font-size: 32px;
  color: var(--color-contrast-high);
  padding: 0 0.5rem;
}

.footer--links-item a {
  padding: 0 1rem;
}

.footer.fixed-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
@media screen and (max-width: 460px) {
  .footer.fixed-footer {
    position: static;
  }
}
.footer .footer--bottom {
  padding: 1.5rem 0;
  background-color: var(--color-black);
}
.footer .footer--bottom div {
  vertical-align: middle;
}
.footer .footer--bottom .footer--copyright {
  grid-column: 1/7;
  text-align: start;
}
.footer .footer--bottom .footer--legal {
  grid-column: 8/13;
  text-align: end;
}
