@import url(https://fonts.googleapis.com/css2?family=Carter+One&family=Merienda:wght@400;700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap);


/* ==========================================================================
   Base styles:
   ========================================================================== */
[data-theme] {
    background-color: var(--color-bg, #fff);
    color: var(--color-contrast-high, #313135)
}

*, :after, :before {
    box-sizing: inherit
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0
}

.h1, h1 {
    font-size: 2.5rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem;
    color: var(--color-white);
}

.h6, h6 {
    font-size: 1rem
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

@media screen and (max-width: 460px){
    html {
        overflow-x: hidden;
    }
}

body {
    margin: 0;
    font-family: Noto Sans JP, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-accent);
    text-align: left;
    background-color: var(--color-bg);
}

article, aside, details, figcaption, figure, footer, form legend, header, hgroup, main, menu, nav, section {
    display: block
}

@media (min-width: 2500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1920px;
    }
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

button, input, select, textarea {
    margin: 0
}

select.form-control::-ms-expand {
    display: none
}

textarea {
    vertical-align: top
}

input::-ms-clear {
    display: none
}

table {
    border-spacing: 0
}

img, svg, video {
    max-width: 100%
}

[class*=flex-gap-], [class*=gap-lg], [class*=gap-md], [class*=gap-sm], [class*=gap-xl], [class*=gap-xs], [class*=gap-xxl], [class*=gap-xxs], [class*=gap-xxxl], [class*=gap-xxxs], [class*=gap-xxxxl], [class*=gap-xxxxs], [class*=grid-gap-] {
    margin-bottom: -.75em;
    margin-left: -.75em
}

[class*=flex-gap-] > *, [class*=gap-lg] > *, [class*=gap-md] > *, [class*=gap-sm] > *, [class*=gap-xl] > *, [class*=gap-xs] > *, [class*=gap-xxl] > *, [class*=gap-xxs] > *, [class*=gap-xxxl] > *, [class*=gap-xxxs] > *, [class*=gap-xxxxl] > *, [class*=gap-xxxxs] > *, [class*=grid-gap-] > * {
    margin-bottom: .75em;
    margin-left: .75em
}

[class*=gap-x-lg], [class*=gap-x-md], [class*=gap-x-sm], [class*=gap-x-xl], [class*=gap-x-xs], [class*=gap-x-xxl], [class*=gap-x-xxs], [class*=gap-x-xxxl], [class*=gap-x-xxxs], [class*=gap-x-xxxxl], [class*=gap-x-xxxxs] {
    margin-left: -.75em
}

[class*=gap-x-lg] > *, [class*=gap-x-md] > *, [class*=gap-x-sm] > *, [class*=gap-x-xl] > *, [class*=gap-x-xs] > *, [class*=gap-x-xxl] > *, [class*=gap-x-xxs] > *, [class*=gap-x-xxxl] > *, [class*=gap-x-xxxs] > *, [class*=gap-x-xxxxl] > *, [class*=gap-x-xxxxs] > * {
    margin-left: .75em
}

[class*=gap-y-lg], [class*=gap-y-md], [class*=gap-y-sm], [class*=gap-y-xl], [class*=gap-y-xs], [class*=gap-y-xxl], [class*=gap-y-xxs], [class*=gap-y-xxxl], [class*=gap-y-xxxs], [class*=gap-y-xxxxl], [class*=gap-y-xxxxs] {
    margin-bottom: -.75em
}

[class*=gap-y-lg] > *, [class*=gap-y-md] > *, [class*=gap-y-sm] > *, [class*=gap-y-xl] > *, [class*=gap-y-xs] > *, [class*=gap-y-xxl] > *, [class*=gap-y-xxs] > *, [class*=gap-y-xxxl] > *, [class*=gap-y-xxxs] > *, [class*=gap-y-xxxxl] > *, [class*=gap-y-xxxxs] > * {
    margin-bottom: .75em
}

#preloader {
    z-index: 9999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    flex-direction: column
}

#preloader .spinner-border {
    margin-top: 4rem;
    height: 60px;
    width: 60px;
    border-color: var(--color-contrast-high);
    border-right-color: transparent
}

#button {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 200px;
    right: 0;
    text-align: center;
    color: #fff;
    line-height: 46px;
    display: inline-block;
    transition: opacity .5s, visibility .5s;
    z-index: 1000;
    transform: rotate(-90deg) translate(-50%, 0);
}

#button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;
    height: 2px;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: 100% 0;
    background: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
}

#button:hover {
    cursor: pointer;
}

#button:hover:after {
    transform: scaleX(1);
    transform-origin: left
}

#button.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #button {
        margin: 30px;
    }
}


/* ==========================================================================
   Style pages:
   ========================================================================== */
.title {
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
}

.subtitle {
    text-align: center;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}


/* ==========================================================================
   Footer
   ========================================================================== */

