::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #181a1e;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.9);
    border-radius: 100px;
}