@import "mixins";

#p-propos {
    article {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include h3;

        h5 {
            margin-bottom: .4rem;
        }

        p {
            text-align: justify;

            + h5 {
                margin-top: 1rem;
            }
        }
    }
}
