@import "variables";
@import "mixins";

/* ==========================================================================
   Styles:
   ========================================================================== */
@import "styles";

/* ==========================================================================
   Navbar:
   ========================================================================== */
@import "navbar";

/* ==========================================================================
   Accueil:
   ========================================================================== */
@import "home";

/* ==========================================================================
   CV:
   ========================================================================== */
@import "cv";

/* ==========================================================================
   À propos:
   ========================================================================== */
@import "a-propos";

/* ==========================================================================
   SETUP:
   ========================================================================== */
@import "setup";

/* ==========================================================================
   Contact:
   ========================================================================== */
@import "contact";

/* ==========================================================================
   Mentions légales:
   ========================================================================== */
@import "mentions-legales";

/* ==========================================================================
   Footer:
   ========================================================================== */
@import "footer";
