@mixin button-($name, $color) {
    .btn-#{$name} {
        background: #{$color};
        width: 3rem;
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }
}

@mixin h2 {
    h2 {
        font-size: 4rem;
        margin-left: 12rem;
        padding: .6rem 0 .6rem 0;
        text-shadow: 0 6px 0 var(--black-color);
        animation: titleFadeIn .6s ease-in-out .300s;
            
            @keyframes titleFadeIn {
                    0% {
                        opacity: 0;
                        transform: translateX(-100%);
                    }

                    100% {
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
    }
}

@mixin h2-mobile {
    h2 {
        margin-left: 0;
    }
}

@mixin h3 {
    h3 {
        font-size: 1.75rem;
        color: #ebb455;
        position: relative;
        padding-bottom: .6rem !important;
        margin-bottom: .4rem !important;
        width: fit-content;

        &:hover {
            cursor: default;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 20%;
            background: var(--gradient-color);
            transition: width 0.4s ease-in-out;
        }
    }
}
