@mixin h2 {
    h2 {
        font-size: 4rem;
        width: fit-content;
        margin-left: 12rem;
        padding: .6rem 0 .6rem 0;
        @include text-shadow;
        animation: titleFadeIn .6s ease-in-out .300s;

        @keyframes titleFadeIn {
            0% {
                opacity: 0;
                transform: translateX(-100%);
            }

            100% {
                opacity: 1;
                transform: translateX(0%);
            }
        }
    }
}

@mixin h2-mobile {
    h2 {
        margin-left: 0;
    }
}

@mixin h3 {
    h3 {
        font-size: 1.75rem;
        color: #ebb455;
        position: relative;
        padding-bottom: .6rem !important;
        margin-bottom: .4rem !important;
        width: fit-content;

        &:hover {
            cursor: default;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 20%;
            background: var(--rose-gradient);
            transition: width 0.4s ease-in-out;
        }
    }
}

@mixin text-shadow {
    text-shadow: 1px 4px 0 var(--black-color);
    transition: text-shadow .4s ease-in-out;

    &:hover {
        text-shadow: none;
    }
}