#p-kelenscorp, #p-hydaria, #p-bountyfac {
    /* ==========================================================================
        Section résumé:
   ========================================================================== */
    #summary {
        @include h2;

        .skills-project {
            display: flex;
            margin-bottom: .4rem;
        
            li {
                margin-right: .4rem;
                padding: 0;
        
                &:last-child {
                    margin: 0;
                }
        
                span {
                    color: var(--white-color);
                    background-color: var(--rose-color);
                    border-radius: 20px;
                    padding: .2rem;
                    text-align: center;
                }
            }
        }

        article {
            padding: 2rem 0 2rem 0;

            &:last-child {
                margin-bottom: 0;
            }

            @include h3;

            img {
                border-radius: 50%;
                box-shadow: inset 0 0 6px var(--black-color);
            }

            h5 {
                margin-bottom: .4rem;
            }

            p {
                text-align: justify;

                + h5 {
                    margin-top: 1rem;
                }
            }

            &#qu-est-ce-que-c-est {
                .text-right-part {
                    grid-column: 4 / 13;
                    grid-row: 1;
                }

                img {
                    grid-column: 1 / 4;
                    grid-row: 1;
                }
            }

            &#que-proposez-vous {
                background-color: var(--color-contrast-lower);

                .text-left-part {
                    grid-column: 1 / 10;
                    grid-row: 1;
                }

                img {
                    grid-column: 10 / 13;
                    grid-row: 1;
                }
            }

            &#un-site {
                .text-right-part {
                    grid-column: 4 / 13;
                    grid-row: 1;
                }

                img {
                    grid-column: 1 / 4;
                    grid-row: 1;
                }
            }
        }

        @media screen and (min-width: 2500px) {
            article {
                &#qu-est-ce-que-c-est, &#un-site {
                    .text-right-part {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                &#que-proposez-vous {
                    .text-left-part {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }

        @media screen and (max-width: 960px) {
            .info {
                width: max-content;

                &:after {
                    display: none;
                }

                div {
                    display: flex;
                }
            }
        }

        @media screen and (max-width: 460px) {
            @include h2-mobile;

            article {
                &#qu-est-ce-que-c-est, &#que-proposez-vous, &#un-site {
                    .container {
                        .wrapper {
                            img {
                                height: max-content;
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }

    /* ==========================================================================
          Section Images:
    ========================================================================== */
    #pictures {
        background-color: var(--color-contrast-lower);
        @include h2;

        .container {
            display: flex;
            flex-direction: column;

            .img-setup {
                text-align: center;

                img {
                    width: 25%;
                    height: fit-content;
                    padding: 10px;
                    opacity: 0.8;
                    cursor: pointer;
                    transition: ease-in-out .2s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .img-setup-expanted {
                position: relative;

                .closebtn {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    color: var(--white-color);
                    font-size: 35px;
                    cursor: pointer;
                }

                #expandedImg {
                    width: 100%;
                }

                #imgtext {
                    background: rgba(16, 15, 15, 0.6);
                    border-radius: 20px;
                    position: absolute;
                    font-size: 20px;
                    padding: .6rem;
                    bottom: 15px;
                    color: var(--white-color);
                    left: 15px;
                }
            }
        }

        /* ==========================================================================
            Responsive:
        ========================================================================== */
        @media screen and (min-width: 2500px) {

        }

        @media screen and (max-width: 960px) {
            .info {
                width: max-content;

                &:after {
                    display: none;
                }

                div {
                    display: flex;
                }
            }
        }

        @media screen and (max-width: 460px) {
            @include h2-mobile;
        }
    }
}
