#p-kelenscorp,
#p-hydaria,
#p-bountyfac {

    /* ==========================================================================
        Section résumé:
   ========================================================================== */
    #summary {
        .skills-project {
            display: flex;
            margin-bottom: .4rem;

            li {
                margin-right: .4rem;
                padding: 0;

                &:last-child {
                    margin: 0;
                }

                span {
                    box-shadow: inset 0 1px 8px var(--black-color),
                        1px 4px 0 var(--black-color);
                    transition: all .4s ease-in-out;
                    background-color: var(--rose-color);
                    @include text-shadow;
                    border-radius: 20px;
                    padding: .2rem;
                    text-align: center;
                    vertical-align: middle;
                    font-weight: 900;
                    line-height: 0;
                    width: fit-content;
                    color: var(--white-color);

                    &:hover {
                        box-shadow: none;
                        text-shadow: none;
                    }
                }
            }
        }

        article {
            padding: 2rem 0 2rem 0;

            &:last-child {
                margin-bottom: 0;
            }

            .container {
                @include h3;

                .wrapper {
                    place-items: center;

                    img {
                        object-fit: contain;
                    }

                    h5 {
                        margin-bottom: .4rem;
                    }

                    p {
                        text-align: justify;

                        +h5 {
                            margin-top: 1rem;
                        }
                    }
                }
            }

            &#qu-est-ce-que-c-est {
                .text-right-part {
                    grid-column: 4 / 13;
                    grid-row: 1;
                }

                img {
                    grid-column: 1 / 4;
                    grid-row: 1;
                }
            }

            &#que-proposez-vous {
                background-color: var(--color-contrast-lower);

                .text-left-part {
                    grid-column: 1 / 10;
                    grid-row: 1;
                }

                img {
                    grid-column: 10 / 13;
                    grid-row: 1;
                }
            }

            &#un-site {
                .text-right-part {
                    grid-column: 4 / 13;
                    grid-row: 1;
                }

                img {
                    grid-column: 1 / 4;
                    grid-row: 1;
                }
            }
        }

        /* ==========================================================================
            Responsive:
        ========================================================================== */
        @media screen and (min-width: 2500px) {
            article {

                &#qu-est-ce-que-c-est,
                &#un-site {
                    .text-right-part {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                &#que-proposez-vous {
                    .text-left-part {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }

        @media screen and (max-width: 460px) {
            article {

                &#qu-est-ce-que-c-est,
                &#que-proposez-vous,
                &#un-site {
                    .container {
                        .wrapper {
                            img {
                                height: max-content;
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}