@for $i from 2 through 4 {
    .bi-#{$i}X {
        font-size: $i * 1rem;
    }
}

html {
    max-width: 100%;
}

section {
    padding: 2rem 0 2rem 0;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    font-family: Carter One, cursive;
}

.h3, h3 {
    font-size: 1.75rem;
    color: #ebb455
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a, p, i {
    font-family: Noto Sans JP, sans-serif;
    color: var(--color-white);
}

.bg-accent-darker {
    background-color: hsla(var(--color-accent-darker-h), var(--color-accent-darker-s), var(--color-accent-darker-l), var(--bg-o, 1));
}

.content {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 1rem;
    background: transparent;
    width: 200px;
    border: 1px solid #0a0a0a;
    box-shadow: inset 0 1px 8px black;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 0;
}

.btn-principal {
    background: linear-gradient(90deg, #D0368A 0%, #708AD4 99%);
    border-radius: 20px;

    &:hover {
        color: var(--color-white);
    }
}

i + {
    i {
        margin-top: 1rem;
    }
}
