/* ==========================================================================
    Créer une icon x2 à x4:
========================================================================== */
@for $i from 2 through 4 {
    .bi-#{$i}X {
        font-size: $i * 1rem;
    }
}

/* ==========================================================================
    HTML:
========================================================================== */
html {
    max-width: 100%;


    /* ==========================================================================
    Scrollbar:
    ========================================================================== */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #181a1e;
    }

    ::-webkit-scrollbar-thumb {
        background-image: var(--rose-gradient);
        box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.9);
        border-radius: 100px;
    }

    body {
        /* ==========================================================================
        Cursor:
        ========================================================================== */
        cursor: default;

        /* ==========================================================================
        Button to TOP:
        ========================================================================== */
        #button {
            opacity: 0;
            color: var(--white-color);
            font-weight: 600;
            right: -2rem;
            bottom: 20rem;
            z-index: 1000;
            position: fixed;
            text-align: center;
            visibility: hidden;
            line-height: 1.4rem;
            display: inline-block;
            padding: .6rem;
            background-color: rgba(0, 0, 0, 0.6);
            transition: opacity .5s, visibility .5s;
            transform: rotate(-90deg) translate(-50%, 0);

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                width: 100%;
                z-index: -1;
                height: 2px;
                border-radius: 20px;
                transform: scaleX(0);
                transition: transform .6s;
                transform-origin: 100% 0;
                background: var(--rose-gradient);
            }

            &:hover {
                cursor: pointer;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: left
            }

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    /* ==========================================================================
        Liens:
    ========================================================================== */
    a,
    i {
        text-decoration: none;
        color: var(--rose-color);
        transition: ease-in-out .2s;

        &:hover {
            color: var(--blue-color);
        }
    }

    p {
        font-family: Noto Sans JP, sans-serif;
        color: var(--white-color);
    }

    .wrapper {
        display: grid;
        grid-template-columns: fit-content(100%);
        grid-gap: 10px;
    }

    .content {

        /* ==========================================================================
            Sections:
        ========================================================================== */
        section {
            padding: 2rem 0 2rem 0;
        }

        /* ==========================================================================
            Titres:
        ========================================================================== */
        h1,
        h1 a,
        h2,
        h2 a,
        h3,
        h3 a,
        h4,
        h4 a,
        h5,
        h5 a,
        h6,
        h6 a {
            font-family: Carter One, cursive;
        }

        /* ==========================================================================
            Boutons:
        ========================================================================== */
        .btn {
            padding: 1rem;
            background: transparent;
            width: fit-content;
            border: 1px solid #0a0a0a;
            border-radius: 20px;
            box-shadow: inset 0 1px 8px var(--black-color),
                1px 4px 0 var(--black-color);
            transition: box-shadow .4s ease-in-out;

            &:hover {
                box-shadow: none;
            }

            text-align: center;
            font-weight: bold;
            vertical-align: middle;
            line-height: 0;

            &.btn-principal {
                background: var(--rose-gradient);

                &:hover {
                    color: var(--white-color);
                }
            }
        }

        /* ==========================================================================
            Icons:
        ========================================================================== */
        i+ {
            i {
                margin-top: 1rem;
            }
        }
    }

    /* ==========================================================================
        Responsive:
    ========================================================================== */
    @media screen and (min-width: 2500px) {}

    @media screen and (max-width: 960px) {}

    @media screen and (max-width: 460px) {}
}