$background-color: #17181c;
$background-gradient: linear-gradient(160deg, var(--rose-color) 0%, var(--blue-color) 99%);
$white: #ffffff;
$black: #000000;
$rose: #D0368A;
$blue: #708AD4;
$grey: #616161;
$facebook-color: #273c75;
$twitter-color: #1da1f2;
$instagram-color: #ff0076;
$discord-color: #5865F2;

:root {
    --background-color: #{$background-color};
    --white-color: #{$white};
    --black-color: #{$black};
    --rose-color: #{$rose};
    --blue-color: #{$blue};
    --grey-color: #{$grey};
    --background-gradient: #{$background-gradient};
    --facebook-color: #{$facebook-color};
    --twitter-color: #{$twitter-color};
    --instagram-color: #{$instagram-color};
    --discord-color: #{$discord-color};
}